<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="../css/styles.css"> 
    <title>Document</title>
</head>
<body>
      <div class="callout callout--primary"> <!--callout started-->
        <div class="grid grid--1x2"> <!--callout grid sarted-->
            <div class="callout__content"> <!--grid 1st cololomn started-->
                <h2 class="callout__heading">Here we Go</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, excepturi voluptas! Est ratione atque repellendus deserunt fugit iure necessitatibus eligendi.</p>
            </div>  <!--grid 1st colomn close-->

            <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>   <!--grid 2nd colomn only this anchore button-->
        </div>  <!-- grid close-->
      </div>  <!--callout close--> 
</body>
</html>