<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../css/styles.css">
    
    <title>Document</title>
</head>
<body>
<footer class="block block--dark footer">
    <div class=" container grid footer__grid">

        <!-- Item 1 -->
        <section class="collapsible collapsible--expanded  footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item1</h2>
                     <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="../images/sprite.svg#chevron"></use>
                    </svg> 
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">website Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                </ul>
            </div>
        </section>
        <!-- item 2 -->
        <section class="collapsible  footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 2</h2>
                     <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="../images/sprite.svg#chevron"></use>
                    </svg> 
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">website Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                </ul>
            </div>
        </section>
            <!-- item3 -->
        <section class="collapsible   footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 3</h2>
                     <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="../images/sprite.svg#chevron"></use>
                    </svg> 
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">website Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                </ul>
            </div>
        </section>

        <!-- item 4 -->
        <section class="collapsible   footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 4</h2>
                     <svg class="icon icon--white collapsible__chevron">
                        <use xlink:href="../images/sprite.svg#chevron"></use>
                    </svg> 
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Migrations</a></li>
                    <li><a href="#">website Hosting</a></li>
                    <li><a href="#">Free Automated WordPress</a></li>
                </ul>
            </div>
        </section>

        <section class="footer__brand">
            <img src="../icons/logo.svg" alt="">
            <p class="footer__copyright">Copyright 2023 --SibteNajam</p>
        </section>
    </div>
</footer>
</body>
<script src="../js/main.js"></script>
</html>