<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="../css/styles.css">
    
    <title>input-button</title>
</head>
<body>
    <div class="input-group">
       <button class="btn btn--ascent">Search</button>
       <input type="text" class=" input" placeholder="Enter domain name">
       
       <!-- you can move button at start or end if you want 
    also you can place any element instead button -->
</div>
<div class="input-group">
    <span class="icon-container">
        <svg class="icon icon--primary">
            <use xlink:href="../images/sprite.svg#wordpress"></use>
        </svg>
    </span>
    <input type="text" class=" input" placeholder="Enter domain name">
    <button class="btn btn--ascent">Search</button>
    </div>
  
</body>
</html>