<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
            rel="stylesheet">

        <link rel="stylesheet" href="../css/styles.css">
        <title>Document</title>
    </head>
    <body style="padding: 3rem;">
        <div class="card testimonial">
            <div class="grid grid--1x3"> <!-- grid start -->
    
                <div class="testimonial__image">  <!-- grid 1st column start -->
                    <img src="../images/testimonial.jpg" alt="Happy, Smiling customer">
                    <span class="icon-container icon-container--ascent">
                        <svg class="icon icon--small icon--white">
                            <use xlink:href="../images/sprite.svg#settings"></use>
                        </svg>
                    </span>
                </div> <!-- testimonial image close    grid 1st column close -->
    
                <blockquote class="quote">  <!-- grid 2nd column -->
                    <p class="quote__text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit. Atque tempore culpa nam rerum non nostrum
                        consequatur similique! Adipisci exercitationem
                        blanditiis, possimus cum officia tempore dignissimos
                        magnam ex soluta, vero consectetur!
                    </p>
                    <footer>
                        <!-- Media component -->
                        <div class="media">
                            <div class="media__image">
                                <svg class="icon icon--primary quote__line">
                                    <use xlink:href="../icons/sprite.svg#line">
                                    </use>
                                </svg>
                            </div> <!-- media image close -->
                            <div class="media__body">
                                <h3 class="media__title quote__author">Sibte
                                    Najam </h3>
                                <p class="quote__organization">book 3rd Edition</p>
                            </div> <!-- media body close -->
                        </div> <!-- media close -->
                    </footer>
                </blockquote> <!-- grid 2nd column close -->
    
                <div class="card--container"> <!-- grid 3rd column (plan) -->
                    <div class="plan plan--popular">
                        <div class="card card--secondary">
                            <header class="card__header">
                                <img src="" alt="">
                                <h3 class="plan__name">Entry</h3>
                                <span class="plan__price">$15</span>
                                <span class="plan__billing-cycle">/month</span>
                                <span class="badge badge--secondary badge--small">10% OFF</span>
                                <span class="plan__description">Easy start on cloud</span>
                            </header>
                            <div class="card__body">
                                <ul class="list list--vertical">
                                    <li class="list__item">Ultimate Website</li>
                                    <li class="list__item">Ultimate Bandwidth</li>
                                    <li class="list__item">100 GB SSD Storage</li>
                                    <li class="list__item">3 GB RAM</li>
                                </ul>
                                <button class="btn btn--outline btn--block">Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div> <!-- grid 3rd column (plan) close -->
    
            </div> <!-- grid close -->
        </div> <!-- card close -->
    </body>
    
    </html>